<div class="container">
  <form [formGroup]="registForm" (ngSubmit)="onSubmit(registForm.value)">
    <div class="form-row">
      <div class="col-lg-12">
        <label>Name</label>
      </div>
      <div class="form-group col-lg-6">
        <input type="text" class="form-control" formControlName="fname" />
        <div
          *ngIf="
            registForm.controls['fname'].invalid &&
            (registForm.controls['fname'].dirty ||
              registForm.controls['fn ame'].touched)
          "
          class="alert alert-danger"
        >
          <small *ngIf="registForm.controls['fname'].errors.required">
            First name is required.
          </small>
          <small *ngIf="registForm.controls['fname'].errors.maxlength">
            First Name must be less than 32 character
          </small>
        </div>
        <small>First name</small>
      </div>
      <div class="form-group col-lg-6">
        <input type="text" class="form-control" formControlName="lname" />
        <div
          *ngIf="
            registForm.controls['lname'].invalid &&
            (registForm.controls['lname'].dirty ||
              registForm.controls['lname'].touched)
          "
          class="alert alert-danger"
        >
          <small *ngIf="registForm.controls['lname'].errors.required">
            Last Name is required.
          </small>
          <small *ngIf="registForm.controls['lname'].errors.maxlength">
            Lastname must be less than 32 character
          </small>
        </div>
        <small>last name</small>
      </div>
    </div>
    <div class="form-group">
      <label>E-mail</label>
      <input
        type="text"
        class="form-control"
        placeholder="ex: myname@example.com"
        formControlName="email"
      />
      <div
        *ngIf="
          registForm.controls['email'].invalid &&
          (registForm.controls['email'].dirty ||
            registForm.controls['email'].touched)
        "
        class="alert alert-danger"
      >
        <small *ngIf="registForm.controls['email'].errors.required">
          Email is required.
        </small>
        <small *ngIf="registForm.controls['email'].errors.pattern">
          Email is not valid
        </small>
      </div>
    </div>
    <div class="form-row">
      <div class="col-lg-12">Phone Number:</div>
      <div class="form-group col-lg-2">
        <input type="text" class="form-control" formControlName="area" />
        <div
          *ngIf="
            registForm.controls['area'].invalid &&
            (registForm.controls['area'].dirty ||
              registForm.controls['area'].touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="registForm.controls['area'].errors.required">
            Area is required.
          </div>
          <small *ngIf="registForm.controls['area'].errors.pattern">
            area is not valid
          </small>
        </div>
        <small>Area code</small>
      </div>
      <div class="form-group col-lg-4">
        <input type="text" class="form-control" formControlName="pnumber" />
        <div
          *ngIf="
            registForm.controls['pnumber'].invalid &&
            (registForm.controls['pnumber'].dirty ||
              registForm.controls['pnumber'].touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="registForm.controls['pnumber'].errors.required">
            Phone Number is required.
          </div>
          <small *ngIf="registForm.controls['pnumber'].errors.pattern">
            phone number is not valid
          </small>
        </div>
        <small>Phone Number</small>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <label>Password</label>
      </div>
      <div class="form-group col-md-6">
        <input
          type="password"
          class="form-control"
          placeholder="Password"
          formControlName="pwd"
        />
        <div
          *ngIf="
            registForm.controls['pwd'].invalid &&
            (registForm.controls['pwd'].dirty ||
              registForm.controls['pwd'].touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="registForm.controls['pwd'].errors.required">
            Password Number is required.
          </div>
        </div>
        <small>Password</small>
      </div>
      <div class="form-group col-md-6">
        <input
          type="password"
          class="form-control"
          placeholder=" Confirm password"
          formControlName="cpwd"
        />
        <div
          *ngIf="
            registForm.controls['cpwd'].invalid &&
            (registForm.controls['cpwd'].dirty ||
              registForm.controls['cpwd'].touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="registForm.controls['cpwd'].errors.required">
            Confirm Password is required.
          </div>
          <small *ngIf="registForm.controls['cpwd'].errors.mustMatch">
            Passwords must match
          </small>
        </div>
        <small>confirm Password</small>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <label>Address</label>
      </div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" formControlName="str1" />
      <div
        *ngIf="
          registForm.controls['str1'].invalid &&
          (registForm.controls['str1'].dirty ||
            registForm.controls['str1'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="registForm.controls['str1'].errors.required">
          Address Number is required.
        </div>
      </div>
      <small>Street Address</small>
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="inputAddress"
        formControlName="str2"
      />
      <div
        *ngIf="
          registForm.controls['str2'].invalid &&
          (registForm.controls['str2'].dirty ||
            registForm.controls['str2'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="registForm.controls['str2'].errors.required">
          Address is required.
        </div>
      </div>
      <small>Street Address</small>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" formControlName="city" />
        <div
          *ngIf="
            registForm.controls['city'].invalid &&
            (registForm.controls['city'].dirty ||
              registForm.controls['city'].touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="registForm.controls['city'].errors.required">
            City is required.
          </div>
        </div>
        <small>City</small>
      </div>
      <div class="form-group col-md-6">
        <input type="text" class="form-control" formControlName="state" />
        <div
          *ngIf="
            registForm.controls['state'].invalid &&
            (registForm.controls['state'].dirty ||
              registForm.controls['state'].touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="registForm.controls['state'].errors.required">
            State is required.
          </div>
        </div>
        <small>State/Province</small>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        <input type="text" class="form-control" formControlName="postal" />
        <div
          *ngIf="
            registForm.controls['postal'].invalid &&
            (registForm.controls['postal'].dirty ||
              registForm.controls['postal'].touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="registForm.controls['postal'].errors.required">
            Postal code is required.
          </div>
        </div>
        <small>Postal code</small>
      </div>
      <div class="form-group col-md-6">
        <select class="form-control" formControlName="country">
          <option></option>
          <option *ngFor="let i of country" value="{{ i }}">{{ i }}</option>
        </select>
        <div
          *ngIf="
            registForm.controls['country'].invalid &&
            (registForm.controls['country'].dirty ||
              registForm.controls['country'].touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="registForm.controls['country'].errors.required">
            Country is required.
          </div>
        </div>
        <small>Country</small>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>Birth Date:</p>
      </div>
      <div class="form-group col-md-4">
        <select formControlName="dobMonth" class="form-control">
          <option></option>
          <option *ngFor="let i of months" value="{{ i }}">{{ i }}</option>
        </select>
        <div
          *ngIf="
            registForm.controls['dobMonth'].invalid &&
            (registForm.controls['dobMonth'].dirty ||
              registForm.controls['dobMonth'].touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="registForm.controls['dobMonth'].errors.required">
            Month is required.
          </div>
        </div>
        <small>Month</small>
      </div>
      <div class="form-group col-md-4">
        <select formControlName="dobDay" class="form-control">
          <option></option>
          <option *ngFor="let i of days" value="{{ i }}">{{ i }}</option>
        </select>
        <div
          *ngIf="
            registForm.controls['dobDay'].invalid &&
            (registForm.controls['dobDay'].dirty ||
              registForm.controls['dobDay'].touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="registForm.controls['dobDay'].errors.required">
            Day is required.
          </div>
        </div>
        <small>Day</small>
      </div>
      <div class="form-group col-md-4">
        <select formControlName="dobYear" class="form-control">
          <option></option>
          <option *ngFor="let i of years" value="{{ i }}">{{ i }}</option>
        </select>
        <div
          *ngIf="
            registForm.controls['dobYear'].invalid &&
            (registForm.controls['dobYear'].dirty ||
              registForm.controls['dobYear'].touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="registForm.controls['dobYear'].errors.required">
            Year is required.
          </div>
        </div>
        <small>Year</small>
      </div>
    </div>
    <div class="row" style="margin-top: 50px">
      <div class="col-sm-12"><h3>Where did you hear about us?</h3></div>
      <div class="col-sm-10">
        <div class="form-check" *ngFor="let data of data; let i = index">
          <label class="form-check-label">
            <input
              class="form-check-input"
              type="checkbox"
              [value]="data.value"
              (change)="onCheckboxChange($event)"
            />
            {{ data.name }}
          </label>
        </div>
        <!-- <small class="error" *ngIf="registForm.controls['checkArray'].errors.required">
          Checkbox is required, select atleast one value.
        </small> -->
        <div *ngIf="registForm.controls['checkArray'].invalid" class="error">
          <div *ngIf="registForm.controls['checkArray'].errors.required">
            Checkbox is required, select atleast one value.
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 50px">
      <div class="col-lg-12">
        <h3>Membership Rules</h3>
        <hr />
      </div>
      <div class="col-lg-12">
        <p>1. Membership is available to anyone 18 year of age or older</p>
        <p>
          2. You promise NOT to use to conductany fraududnet or business
          activity or have more than one Member Account at any time
        </p>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="acceptTerms"/>
          <label class="form-check-label">
            I have readm understood, and accepted the PRIVACY POLICY for
            membership
          </label>
          <!-- condition -->
          <small
            *ngIf="submited && registForm.controls['acceptTerms'].errors"
            class="error"
          >
            Accept Ts & Cs is required
          </small>
        </div>
      </div>
    </div>
    <div class="text-center">
      <p>
        Once you submit your application ,we will contact you shortly to
        complete your membership application
      </p>
    </div>
    <div class="text-center">
      <p>Thank you</p>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-success" [disabled]="registForm.invalid">Submit Application</button>
    </div>
  </form>
</div>

<!-- <ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    {{registForm.get('lname').value}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template> -->
